@charset "utf-8";
/* CSS Document */
body{
    font-family:Verdana, Geneva, sans-serif;
}
legend{
    font-size:20px
}
#form1{
    width:40%;
    margin: auto;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    border:solid 10px lightslategray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
#form1 fieldset{
    margin-left: 5%;
}
#form1 fieldset:nth-child(1){
    margin-bottom: 12px;
}
#form1 [required]{
    border: 1px solid #FF0000;
}
#form1 input{
    margin-left: 30px;
}
#form1 input[name="xedad"]{
    width: 88px;
    text-align: center;
}